!!! 5
html
  head
    link(href='http://fonts.googleapis.com/css?family=Bowlby+One', rel='stylesheet', type='text/css')
    meta(charset="utf-8")
    title FUCKMAHJONG

    - each file in css
      link(rel='stylesheet', href= assets_host + "/css/" + file + ".css", type="text/css")

    audio#s_click(preload)
      source(src= assets_host + "/sounds/click.mp3")
    audio#s_gling(preload)
      source(src= assets_host + "/sounds/gling.mp3")
    audio#s_grunt(preload)
      source(src= assets_host + "/sounds/grunt.mp3")

  body
    #container.paused
      h1
        a(href= '/') FUCKMAHJONG

      a.btn.rules.blue(href= '/rules') help
      - if (everyauth.loggedIn)
        a.btn.scores.blue(href= '/scores') view stats and scores

      != body

    script.
      APP = {};
    script(src="/socket.io/socket.io.js")
    - each file in js
      script(src= assets_host + '/js/' + file + '.js')
